/* Base Styles */
* {
	margin: 0;
	padding: 0;
}

header, #content, footer {
	margin: 15px auto;
	width: 300px;
}

/* Layout Styles */
.l-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
	.l-list > li {
		display: block;
		margin: 10px 0 0;
	}

/* Module Styles */
.icon {
	border: solid 1px #eee;
	cursor: pointer;
	display: inline-block;
	text-indent: -9999px;
	vertical-align: top;
	height: 48px;
	width: 48px;
}
	.icon:hover {
		background-color: #eee;
	}

.atnd {
	
}
	.atnd-name {
		height: 50px;
		line-height: 50px;
	}
	.atnd-delete {
		background-image: url(img/remove.png);
		float: right;
	}

.frm {
	height: 50px;
}

	.frm-switch {}
	.frm-input {
		height: 48px;
	}
	.frm-add {
		background-image: url(img/add.png);
	}
	.frm-random {
		background-image: url(img/random.png);
	}

/* State Styles */
#content.choose .frm-input,
#content.choose .frm-add,
#content.choose .atnd-delete {
	display: none;
}
	#content.choose .frm-switch {
		background-image: url(img/mode-edit.png);
	}

#content.edit .frm-random {
	display: none;
}
	#content.edit .frm-switch {
		background-image: url(img/mode-prize.png);
	}