/* Base Styles */
* {
	margin: 0;
	padding: 0;
}

body {
	background: #76668B;
	font-size: 62.5%;
}

header, #content, footer {
	margin: 0 auto 16px;
	width: 300px;
}

header, .frm, .l-list {
	background: #eee;
	border-radius: 8px;
	box-shadow: 0 2px 4px rgba(0,0,0,0.5);
}

header {
	margin-top: -8px;
	padding: 16px 8px 8px;
	width: 284px;
}
	header h1 {
		text-align: center;
	}

/* Layout Styles */
.l-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
	.l-list > li {
		display: block;
		padding: 0 0 0 8px;
	}

/* Module Styles */
.icon {
	border-radius: 8px;
	cursor: pointer;
	display: inline-block;
	text-indent: -9999px;
	vertical-align: top;
	height: 48px;
	width: 48px;
}
	.icon:hover {
		background-color: #fff;
	}

.atnd {
	
}
	.atnd-name {
		height: 48px;
		line-height: 48px;
	}
	.atnd-delete {
		background-image: url(img/remove.png);
		float: right;
	}

.frm {
	height: 48px;
	margin: 0 0 16px;
}

	.frm-switch {}
	.frm-input {
		background: transparent;
		border: 0;
		display: inline-block;
		margin: 0 4px;
		padding: 0 8px;
		height: 48px;
		width: 180px;
	}
	.frm-add {
		background-image: url(img/add.png);
	}
	.frm-random {
		background-image: url(img/random.png);
	}
	
	.frm-output {
		line-height: 48px;
		text-align: center;
		
		display: inline-block;
		margin: 0 4px;
		height: 48px;
		width: 196px;
	}

/* State Styles */
#content.choose .frm-input,
#content.choose .frm-add,
#content.choose .atnd-delete {
	display: none;
}
	#content.choose .frm-switch {
		background-image: url(img/mode-edit.png);
	}

#content.edit .frm-random,
#content.edit .frm-output {
	display: none;
}
	#content.edit .frm-switch {
		background-image: url(img/mode-prize.png);
	}